body,html{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.flex{
  display: flex;
}
.halfScreen{
  width: 50%;
} 
.fullHeight{
  height: 100vh;
}
.text{
  background-color: black;
  color:white;

  flex-direction: column;
  text-align:justify;

  align-items: center;
  justify-content: center;
}
.textAlign{
  max-width: 650px;
}
h1{
  font-family: 'Orbitron', sans-serif;
  margin-left: 30px;
  font-size: 35px;
}
p{
  margin-left: 30px;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
}
a{
  padding: 20px 20px 20px 20px;
  /* padding-top: 30px; */
  font-family: 'Exo 2', sans-serif;

  margin-top: 30px;
  margin-left: 30px;
  color:white;
  background-color: blue;
  text-decoration: none;
  font-size: 25px;
  cursor:default;

  border-radius:3rem ;

  transition-duration: 2s;
}
a:hover{
  background-color: green;
  transition-duration: 1s;
}